<div class="page-form">
   <el-form :model="server">
       <div class="page-form-row">
           <el-form-item label="服务编码" :required="true" prop="serverCode">
               <el-input size="small" v-model="server.serverCode" placeholder="服务编码必填" maxlength="30" show-word-limit></el-input>
           </el-form-item>
           <el-form-item label="服务名称" :required="true" prop="serverName">
               <el-input size="small" v-model="server.serverName" placeholder="服务名称必填" maxlength="100" show-word-limit></el-input>
           </el-form-item>
       </div>
       <div class="page-form-row">
           <el-form-item label="服务URL" :required="true" prop="serverUrl">
               <el-input size="small" v-model="server.serverUrl" placeholder="服务Url必填" maxlength="200" show-word-limit></el-input>
           </el-form-item>
           <el-form-item label="返参code" :required="true" prop="code">
               <el-input size="small" v-model="server.code"  maxlength="30" show-word-limit></el-input>
           </el-form-item>
       </div>
       <div class="page-form-row">
           <el-form-item label="提醒类型" :required="true" prop="tipsType">
               <el-select size="small" v-model="server.tipsType" placeholder="提醒类型必填" maxlength="30" show-word-limit>
                   <el-option  v-for="oitem in tipsTypeOptions" :key="oitem.key" :label="oitem.text" :value="oitem.key" />
               </el-select>

           </el-form-item>
           <el-form-item label="服务备用URL" prop="serverUrlBak">
               <el-input size="small" v-model="server.serverUrlBak" placeholder="服务备用URL" maxlength="200" show-word-limit></el-input>
           </el-form-item>
       </div>
       <div class="page-form-row">
           <el-form-item label="描述" prop="serverDiscreption">
               <el-input size="small" v-model="server.serverDiscreption" placeholder="服务描述" maxlength="500" show-word-limit></el-input>
           </el-form-item>
           <el-form-item label="创建人">
               <el-input size="small" v-model="server.insertUser" :disabled="true"></el-input>
           </el-form-item>
       </div>

   </el-form>
   <div class="page-form-bottompage">
     <el-button size="small" type="primary"  @click="confirm">确认</el-button>
     <el-button size="small" type="info" @click="close">取消</el-button>
   </div>
</div>
