/*.el-table .el-table__fixed{*/
  /*height: -webkit-fill-available !important;*/
/*}*/


.report-manage-div {
    margin-top: 20px;
    height:calc(100% - 20px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.report-manage-table {
    padding: 0 20px;
    margin-top: -21px;
    height: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*.PageFrame >>> .select-row{*/
/*background: #017dfc;*/
/*}*/
/* 选中某行时的背景色*/
.el-table__body tr.current-row > td {
    background-color: rgba(163, 186, 221, 0.4) !important;
    height: calc(100% - 100px);
}

.filterarea{
    width:100%;
    display:inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}
.buttonarea{
    width:100%;
    display:inline-block;
    overflow-x: auto;
    padding: 10px;
}
.filteritem{
    display: block;
}
.filteritem .label{
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 8px 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: initial;
}
.filteritem .content{
    line-height: 30px;
    position: relative;
    font-size: 14px;
    float: left;
}
.buttonarea{
    text-align: left;
    float: left;
    margin-left: -81px;
}

