<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ssdev-esb="http://www.bsoft.com.cn/schema/ssdev-esb"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.bsoft.com.cn/schema/ssdev-esb
      http://www.bsoft.com.cn/schema/ssdev-esb/ssdev-esb.xsd">

    <ssdev-esb:protocol port="12307" protocol="webservice" id="wsEntry"/>
</beans>
