<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 启用注解  -->
    <context:annotation-config />
    <!--&lt;!&ndash; 设置使用注解的类所在的包 &ndash;&gt;-->
    <context:component-scan base-package="com.bsoft.assistant"></context:component-scan>

    <import resource="classpath:/ctd/util/exp/spring-expr-base.xml"/>
    <context:property-placeholder location="classpath:assistant.properties"/>

    <bean id="globalEventExecFactory" class="ctd.util.event.GlobalEventExecFactory" init-method="init"
          destroy-method="shutdown">
        <property name="threads" value="50"/>
    </bean>

    <import resource="spring-mybatis.xml"/>
    <import resource="spring-service.xml"/>
    <import resource="spring-mvc.xml"/>
    <!--<import resource="spring-ws.xml"/>-->
    <!--<import resource="spring-websocket.xml"/>-->
    <import resource="spring-assistant.xml" />
</beans>
